<h1><%= @product.name %></h1>
<hr>
<dl>
  <dt>Description</dt>
  <dd><%= @product.description %></dd>
  <dt>Price</dt>
  <dd><%= @product.price %></dd>
  <dt>Stock</dt>
  <dd><%= @product.stock %></dd>
</dl>

